@using MitrosremERP.Aplication.ViewModels.ZaposleniMitroSremVM
@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/bootswatchthemes.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link href="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
 *@


 
    <ul class="nav nav-tabs">
         <li class="nav-item">
        <a class="nav-link text-dark" asp-active="true" asp-controller="Zaposleni" asp-action="Update" asp-route-id="@Model.Id">Zaposleni</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-active="true" asp-controller="Ugovor" asp-action="Create" asp-route-id="@Model.Id">Ugovor</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-active="true" asp-controller="Bolovanje" asp-action="Create" asp-route-id="@ViewBag.Id" >Bolovanje</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-active="true" asp-controller="Godisnji" asp-action="Create" asp-route-id="@ViewBag.Id" >Godisnji odmor</a>
        </li>
    </ul>
@*     <script src="~/js/navbar.js"></script>
    <script src="~/js/navbarzaposleniactive.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
</body>
</html> *@