@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potvrda Registracije";
}
<div class="mt-5 card">
    <h2 class="card-header text-success">Registracija uspesna</h2>
    <div class="card-body">
        <h4 class="">@ViewData["Title"]</h4>
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <p>
                    Aktivacioni link je poslat na email adresu <span class="text-danger">@Model.Email </span> . Nalog ce biti aktiviran nakon potvrde korisnika.
                </p>
                <p>
                    Molim vas pregledajte email postu radi potvrde registracije
                </p>
            }
            else
            {

                <p class="text-danger">
                    Doslo je do greske, kontaktirajte administratora!
                </p>
            }
        }
    </div>
</div>
@* @page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
} *@

